.container {
  background: #222222;
  color: #fff;
  z-index: 1;
  display: flex;
}

.overlay {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #222222;
  z-index: 1;
  padding: 100px;
}

.subFeaturedContent {
  order: 2;
  flex: 2;
}

.subFeaturedImage {
  flex: 4;
}

.subCircle {
  height: 80%;
  width: 80%;
  background-color: #ccc;
  z-index: 1;
}
